# Logo questionnaire email (Resend)
RESEND_API_KEY=re_xxxxxxxxxxxxxxxxxxxxxxxx
RESEND_FROM_EMAIL=Travis Crawford <briefs@traviscrawforddesign.com>
LOGO_BRIEF_RECIPIENT_EMAIL=tcrawford.design@gmail.com
